<!-- Section Photos -->
<div class="add-listing-section margin-top-45">
	<div class="add-listing-headline">
		<h3><i class="far fa-image"></i> Photos gallery</h3>
	</div>

	<!-- Dropzone -->
	<div class="submit-section">
		<span><%= f.file_field :item_images, multiple: true %></span>
		<p class='font-weight-light'>
			Add one or several photos, to certificate the quality of your product !
		</p>
	</div>
</div>

