<div class="add-listing-section">

	<div class="add-listing-headline">
		<h3><i class="far fa-file-alt"></i>Main information</h3>
	</div>

	<div class="row with-forms">
		<div class="col-md-8">
			<h5>Product name<i class="tip" data-tip-content="Be concise with 2-3 words"></i></h5>
			<div class="search-field"><%= f.text_field :title, required:true %></div>
		</div>

		<div class="col-md-4">
			<h5>Category</h5>
			<%= f.collection_select :category_id, Category.all, :id, :category_name, include_blank: true %>
		</div>
	</div>

	<div class="row with-forms">
		<div class="col-md-12">
			<h5>Description<i class="tip" data-tip-content="Describe precisely the product: usage, place of creatio, size, number of pieces, lenght, thickness..."></i></h5>
			<span class="WYSIWYG"><%= f.text_area :description, required:true, rows:"3" %></span>
			<p class='font-weight-light'>
				The more information, the better!</p>
		</div>
	</div>

	<div class="row with-forms">
		<div class="col-md-4">
		<h5>Price</h5>
		<div class="search-field"><%= f.text_field :price, required:true %></div>	
		</div>
	</div>
</div>
