<!-- Info Section -->
<div class="container" data-turbolinks="false">

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="headline centered margin-top-80">
				Help yourself and the planet!
			</h2>
		</div>
	</div>

	<div class="row icons-container">
		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="fab fa-pied-piper-hat"></i>
				<h3>Trade nice materials, in your neighborhood</h3>
				<p> In Bazaar'tisant, merchants offer you their unique scraps and pieces of fabric: leather, paper, hessian... Near you!</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="fas fa-recycle"></i>
				<h3>Become an actor of the circular economy</h3>
				<p>Nothing is lost, if we create, everything is transformed! Scraps and wastes of our merchants become the primary materials of your creations</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2">
				<i class="fas fa-location-arrow"></i>
				<h3>Work between professionals, in your neighborhood</h3>
				<p>Merchants are professional like you (shops, workshop...) and understand your needs. It guarantees you a excellent sourcing and simple billing</p>
			</div>
		</div>
	</div>

	<div class="banner_button">
		<%= link_to items_path do%>
			<button class="button-banner">Click here</button>
		<% end %>
	</div>

</div>
<!-- Info Section / End -->