<!-- Section Photos -->
<div class="add-listing-section margin-top-45">
	<div class="add-listing-headline">
		<h3><i class="far fa-image"></i>Gallery</h3>
	</div>

	<!-- Photos already uploaded and that can be removed -->
	<div class="row with-forms">
		<div class="col-md-12">
		<h5>My photos</h5>
		<p class='font-weight-light'><i>Ability to delete in process...</i></p>		
		</div>
	</div>

	<!-- Dropzone for new uploads -->
	<div class="submit-section">
		<h5>Add other pictures</h5>
		<span><%= f.file_field :item_images, multiple: true %></span>
		<p class='font-weight-light'>
			Add several pictures will increase trust for your products
		</p>
	</div>
</div>

