<h2>Your company</h2>

<div class=''>

  <div class="form-group form-inline row">
    <div class='col-3'>Activity</div>
    <%= f.text_field :activity, value: @user.activity, class:'form-control' %>
  </div>
  <div class="form-group form-inline row">
    <div class='col-3'>Company name</div>
    <%= f.text_field :company_name, value: @user.company_name, class:'form-control' %>
  </div>
  <div class="form-group form-inline row">
    <div class='col-3'>Description</div>
    <%= f.text_area :company_description, value: @user.company_description, class:'form-control' %>
  </div>

</div>